
body,html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    height: 100%;
}

body{
    margin: 0;
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(39rem, 1fr));
    cursor: pointer;
}